@import "./CSS Reset.css";

body {
    background-color: #222222;
    color: #0A5EB0;
}

header {
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
}